<div class="container" style="max-width:400px;margin-top: 50px">
  <div class="card">
    <div class="card-body">      
      <h5 class="card-title">Welcome</h5>
      <p class="card-text d-flex justify-content-between align-items-center">
          New User? 
          <a routerLink="/signup">signup</a>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
          Have an Account?
          <a routerLink="/login">login</a>
      </p>
    </div>
  </div>
</div>
  

